$preto: #252525;
$bege-claro: #e7e4d8;
$bege-escuro: #d6d6c8;
body,
p,
h1,
span,
ul,
li {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $preto;
  background: $bege-claro;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

// Clearfix
@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

// Header
.header {
  background: $bege-escuro;
  padding: 20px;
  @include clearfix();
  a {
    float: left;
  }
  ul {
    float: right;
  }
  li {
    display: inline-block;
    &:first-child a {
      padding-left: 0px;
    }
    a {
      color: $preto;
      font-size: 1.125em;
      padding: 0 10px;
    }
  }
}

// Main

.main-container {
  // navegação
  nav {
    width: 300px;
    background: $preto;
    float: left;
    li {
      a {
        display: block;
        color: #fff;
        border-bottom: 2px solid #484846;
        font-size: 1.125em;
        padding: 20px 20px 20px 20px;
        &::before {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
          position: relative;
          top: 5px;
          margin-right: 15px;
          background-image: url("../img/icones.png");
        }
      }
    }
  }

  section {
    float: left;
    @include clearfix();
    width: calc(100% - 300px);
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
    header {
      @include clearfix();
      h1 {
        font-size: 2.25em;
        float: left;
      }
      a {
        background: #c17139;
        color: $bege-claro;
        font-size: 1.125em;
        font-family: "Courier New", Courier, monospace;
        text-transform: uppercase;
        padding: 15px 20px;
        border-radius: 4px;
        float: right;
        text-align: center;
      }
    }
    .produtos-item {
      @include clearfix();
      background: #fff;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      margin-top: 20px;
      position: relative;
      img {
        float: left;
      }
      a {
        width: 24px;
        height: 22px;
        overflow: hidden;
        text-indent: -200px;
        position: absolute;
        right: 20px;
        top: 10px;
        background: url("../img/edit.svg");
        &:hover {
          background: url("../img/edit-hover.svg");
        }
      }
      ul {
        float: left;
        padding: 0 20px;
        width: calc(100% - 140px);
        li {
          border-bottom: 1px solid #e7e4d8;
          padding: 10px 0;
          font-family: "Courier New", Courier, monospace;

          &:last-child {
            border: none;
          }
          span {
            font-weight: bold;
            width: 70px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.nav-produtos::before {
  background-position: 0 -24px;
}
.nav-paginas::before {
  background-position: 0 calc(-24px * 2);
}

.nav-plugins::before {
  background-position: 0 calc(-24px * 3);
}

.nav-formularios::before {
  background-position: 0 calc(-24px * 4);
}

.nav-hospedagem::before {
  background-position: 0 calc(-24px * 5);
}

// // produtos
// .produtos {
//   float: left;
//   @include clearfix();
// }
