/* Reset */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  @media (max-width: 739px) {
    max-width: 300px;
    flex-direction: column;
  }
}

/* Menu */

.menu {
  background: #252525;
  padding: 15px 0;
}

.menu-logo {
  margin: 0 10px;
  @media (max-width: 739px) {
    margin: 10px;
    align-self: center;
  }
}
.menu-nav {
  flex: 1;
  margin: 0 10px;
  align-self: center;
  @media (max-width: 739px) {
    margin: 0px;
  }
  ul {
    float: right;
    display: flex;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.125em;
      padding: 10px;
    }
  }
}

/* Intro */

.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 150px 0;
  text-align: center;
  @media (max-width: 739px) {
    padding: 60px 0;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3em;
    &::after {
      margin: 10px auto;
      content: "";
      display: block;
      width: 20px;
      height: 4px;
      background: #fff;
    }
  }

  p {
    font-style: italic;
    font-size: 1.125em;
  }
}

/* Sobre */

.sobre {
  padding: 60px 0;
  h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
  }
  p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    margin: 20px auto;
    max-width: 460px;
    @media (max-width: 739px) {
      max-width: 260px;
    }
  }
}

.sobre-item {
  flex: 1;
  margin: 0 10px;
  @media (max-width: 739px) {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }
  h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    position: relative;
    width: 220px;
    padding: 5px 0 10px 0;
    top: -25px;
  }
}

/* Produtos */

.produtos {
  background: #e7e4d8;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  padding: 60px 0;
}

.produtos-item {
  margin: 0 10px 40px 10px;
  flex: 1;
  h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      background: currentColor;
      border-radius: 50%;
      border: 5px solid #e7e4d8;
      box-shadow: 0 0 0 5px currentColor;
      margin: 20px auto;
    }
    &.produtos-paulista::before {
      color: #492901;
    }

    &.produtos-carioca::before {
      color: #c17139;
    }

    &.produtos-mineiro::before {
      color: #d7a54d;
    }
    p {
      font-size: 0.875em;
      line-height: 1.4em;
    }
  }
}

.produtos-btn {
  border: 3px solid #252525;
  color: #252525;
  text-decoration: none;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 180px;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}

/* Locais */

.locais {
  padding: 60px 0;
}

.locais-item {
  margin-bottom: 40px;
  h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
  }

  a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
  }
}

.locais-img,
.locais-info {
  flex: 1;
  margin: 0 10px;
  @media (max-width: 739px) {
    margin: 0;
  }
}

.locais-img img {
  display: block;
  max-width: 100%;
}

/* Assine */

.assine {
  background: #e7e4d8;
  padding: 30px 0;

  form {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    label {
      display: none;
    }
    @media (max-width: 739px) {
      margin: 0;
    }
  }

  input {
    flex: 1;
    align-self: flex-start;
    padding: 10px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
  }

  button {
    flex: 1;
    align-self: flex-start;
    padding: 13px;
    background: #252525;
    border: none;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
  }
}

.assine-info {
  flex: 1;
  margin: 0 10px;

  @media (max-width: 739px) {
    margin: 0 0 40px 0;
  }

  h2 {
    font-size: 2.25em;
  }

  p {
    font-size: 1.5em;
    font-style: italic;
    @media (max-width: 739px) {
      margin: 0;
    }
  }
}

/*Footer*/

.footer {
  background: #d6d3c8;
  padding: 40px 0;

  p {
    font-size: 1.125em;
    line-height: 1.4em;
    margin: 0 10px;
    flex: 1;
    @media (max-width: 739px) {
      margin: 0;
    }
  }
}
.footer-img {
  margin: 0 10px;
  @media (max-width: 739px) {
    margin: 10px 0;
    align-self: center;
  }
}
