body,
p,
h1,
span,
ul,
li {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
  background: #e7e4d8;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.header {
  background: #d6d6c8;
  padding: 20px;
}

.header::after, .header::before {
  content: "";
  display: table;
  clear: both;
}

.header a {
  float: left;
}

@media screen and (max-width: 739px) {
  .header a {
    float: none;
  }
}

.header ul {
  float: right;
}

@media screen and (max-width: 739px) {
  .header ul {
    float: none;
    margin-top: 10px;
  }
}

.header li {
  display: inline-block;
}

.header li:first-child a {
  padding-left: 0px;
}

.header li a {
  color: #252525;
  font-size: 1.125em;
  padding: 0 10px;
}

@media screen and (max-width: 739px) {
  .header li a {
    padding-left: 0px;
  }
}

.main-container {
  display: flex;
}

@media screen and (max-width: 739px) {
  .main-container {
    flex-direction: column;
  }
}

.main-container nav {
  width: 300px;
  background: #252525;
}

@media screen and (min-width: 740px) and (max-width: 980px) {
  .main-container nav {
    width: 200px;
  }
}

@media screen and (max-width: 739px) {
  .main-container nav {
    margin: 20px 0 0 20px;
    background: none;
    width: auto;
  }
  .main-container nav li {
    display: inline-block;
  }
}

.main-container nav li a {
  display: block;
  color: #fff;
  border-bottom: 2px solid #484846;
  font-size: 1.125em;
  padding: 20px;
}

@media screen and (max-width: 739px) {
  .main-container nav li a {
    width: 44px;
    height: 44px;
    overflow: hidden;
    padding: 10px;
    border: none;
    color: #252525;
    background: #252525;
    border-radius: 5px;
  }
}

.main-container nav li a::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  margin-right: 15px;
  background-image: url("../img/icones.png");
}

@media screen and (max-width: 739px) {
  .main-container nav li a::before {
    display: block;
    margin: 0px;
    top: 0;
  }
}

.nav-contabilidade::before {
  background-position: 0 0;
}

.nav-produtos::before {
  background-position: 0 -24px;
}

.nav-paginas::before {
  background-position: 0 calc(-24px * 2);
}

.nav-plugins::before {
  background-position: 0 calc(-24px * 3);
}

.nav-formularios::before {
  background-position: 0 calc(-24px * 4);
}

.nav-hospedagens::before {
  background-position: 0 calc(-24px * 5);
}

section {
  width: calc(100% - 300px);
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

@media screen and (min-width: 740px) and (max-width: 980px) {
  section {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 739px) {
  section {
    width: 100%;
  }
}

section header::after, section header::before {
  content: "";
  display: table;
  clear: both;
}

section header h1 {
  font-size: 2.25em;
  float: left;
}

@media screen and (max-width: 739px) {
  section header h1 {
    float: none;
  }
}

section header a {
  background: #c17139;
  color: #e7e4d8;
  font-size: 1.125em;
  font-family: Courier, monospace;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 4px;
  float: right;
  text-align: center;
}

@media screen and (max-width: 739px) {
  section header h1 {
    float: none;
  }
  section header a {
    float: none;
    display: inline-block;
    margin: 10px 0;
  }
}

.produtos-item {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  position: relative;
}

.produtos-item::after, .produtos-item::before {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 739px) {
  .produtos-item img {
    float: none;
  }
  .produtos-item ul {
    float: none;
    padding: 0 20px;
    width: 100%;
  }
}

.produtos-item img {
  float: left;
}

.produtos-item a {
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -200px;
  position: absolute;
  right: 20px;
  top: 10px;
  background: url("../img/edit.svg") no-repeat;
}

.produtos-item a:hover {
  background: url("../img/edit-hover.svg") no-repeat;
}

.produtos-item ul {
  float: left;
  padding: 0 20px;
  width: calc(100% - 140px);
}

.produtos-item li {
  padding: 10px 0;
  font-size: 1.125em;
  font-family: Courier, monospace;
  border-bottom: 1px solid #e7e4d8;
}

.produtos-item li:last-child {
  border: none;
}

.produtos-item span {
  font-weight: bold;
  width: 70px;
  display: inline-block;
}

footer {
  background: #d6d3c8;
  text-align: center;
  padding: 60px 0;
  font-size: 1.125em;
  line-height: 1.4em;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
